* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Helvetica;
  font-size: 14pt;
}

a {
  text-decoration: none;
}

header div {
  
}

.main {
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/premium-vector/comic-speech-bubbles-with-text-quiz-night-neon-icon-symbol-sticker-tag-special-offer-label_100456-7641.jpg?w=2000");
}

.logo {
  text-transform: uppercase;
  font-size:30pt;
  background: linear-gradient(to right, #f32170, #ff6b08,
  #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  top: 2px;
  left: 50px;
  order: 0;
}

header {
  width: 100%;
  background-color: #1a2421;
  align-items: center;
  height: 50px;
  text-decoration: none;

  display: flex;
  justify-content: flex-end;
}

header a {
  color: #fff;
  margin-right: 50px;
}

.button-start {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 300px;
  height: 100px; 
  padding: 10px;
  background-color: rgb(208, 233, 229);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-start a {
  font-size: 35pt;
  color: black;
}

.button-start:hover {
  background-color: rgb(141, 146, 151);

}

.button-start:hover a {

  color: rgb(184, 182, 182);
}

footer { 
  margin-top: -7px;
  width: 100%;
  background-color: rgb(180, 178, 174);
  height: 350px;
  display: flex;
  align-items: top;
  justify-content: space-around;
  position: relative;
}

.contact-us-box {
  width: 200px;
  margin-top: 50px;

}

.footer-header {
  text-decoration: bold;
  text-transform: capitalize;
  font-size: 18pt;
}

.footer-item {
  font-size: 12pt;
  color: rgb(86, 86, 86);
}

.copyright {
  position: absolute;
  bottom: 5%;
  right: 50%;
  transform: translatex(50%);
}